[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = git://github.com/walm/jshint.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vms/nvm"]
	path = vms/nvm
	url = git://github.com/creationix/nvm.git
[submodule "vms/rvm"]
	path = vms/rvm
	url = https://github.com/wayneeseguin/rvm.git
[submodule "tools/doctorjs"]
	path = tools/doctorjs
	url = https://github.com/mozilla/doctorjs.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
